<!DOCTYPE html>
<html>

<head>
    <title>الدخول</title>
    <style>
        /* Your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            margin: 0;
        }

        form {
            border: 1px solid #ddd;
            padding: 20px;
            border-radius: 5px;
            width: 300px;
            margin-top: 20px;
        }

        h2 {
            text-align: center;
        }

        label {
            display: block;
            margin: 10px 0 5px;
        }

        input[type="text"],
        input[type="password"],
        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .error-message {
            color: red;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="center">
        <img src="images/login.png" alt="Your " style="width: 150px; height: 150px;">
        <h2>الدخول</h2>
        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <!-- <input type="text" name="userType" value="طالب" /> -->

            <label for="userType">User Type:</label>
            <select id="userType" name="userType"> 
                 <option value="أستاذ">أستاذ</option>
                <option value="طالب">طالب</option>
            </select> 
            <input type="submit" value="Login">
            <% if (locals.loginError) { %>
                <p class="error-message"><%= loginError %></p>
              <% } %>
        </form>
        <p>If you haven't registered yet, <a href="/register">register here</a>.</p>
    </div>
</body>

</html>